{% extends 'base.html' %}
{% block title %}{{ product.name }}{% endblock %}
{% block menu %}
    <li><a href="{% url 'edit_product' product.pk %}">Edit</a></li>
    <li><a href="{% url 'delete_product' product.pk %}">Delete</a></li>
{% endblock %}

{% block content%}
    <h1>Name: {{ product.name }}</h1>
    <p>Category: {{ product.get_category_display }}</p>
    <p><b>Amount: {{ product.amount }}</b></p>
    <p><b>Price: {{ product.price }}</b></p>
    <div class="pre">Description: {{ product.description }}</div>
{% endblock %}